@import url(styles/header.css);
@import url(styles/apresentacao.css);
@import url(styles/about.css);
@import url(styles/skills.css);
@import url(styles/formacao.css);
@import url(styles/projetos.css);
@import url(styles/contato.css);
@import url(styles/footer.css);

:root {
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --cor-de-fundo: #090E16;
    --cor-de-link: #FFFFFF;
    --cor-de-strong: #2EEBAA;
    --cor-de-nav: #464646;
    --cor-sessao: #212529;
    --cor-teste: #7B4AE2;
    --cor--subtitle: #656565;
    --cor-sobre: #1C252E;
    --cor-rodape: #130946;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}


