/* SESSÃO SOBRE MIM */

.about {
    background-color: var(--cor-sobre);
    display: flex;
    align-items: center;
}

.about__container {
    flex-direction: column;
    margin: 15px;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 20px;
}


.about__title {
    font-family: 'Raleway';
    font-size: 1.37rem;
    font-weight: bold;
    margin-bottom: 25px;

}

.about__paragraph {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
    flex-direction: column;
    font-weight: normal;
}

.about__container p {
    font-size: 1rem;
}

.about__title strong {
    font-size: 1.37rem;
    font-weight: bold;
}


@media screen and (min-width: 1024px){

    .about {
    background-color: var(--cor-sobre);
    display: flex;
    align-items: center;
}

.about__container {
    flex-direction: column;
    margin: 15px;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 20px;
}


.about__title {
    font-family: 'Raleway';
    font-size: 1.37rem;
    font-weight: bold;
    margin-bottom: 25px;

}

.about__paragraph {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
    flex-direction: column;
    font-weight: normal;
}

.about__container p {
    font-size: 1rem;
}

.about__title strong {
    font-size: 1.37rem;
    font-weight: bold;
}
}

@media screen and (min-width: 1024px){
    .about {
        background-color: var(--cor-sobre);
        display: flex;
        align-items: center;
    }
    
    .about__container {
        display: flex;
        flex-direction: column;
        margin: 4%;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 20px;
    }
    
    
    .about__title {
        font-family: 'Raleway';
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 25px;
    
    }
    
    .about__paragraph {
        font-family: 'Raleway', sans-serif;
        margin-bottom: 20px;
        flex-direction: column;
        max-width: 745px;
    }
    
    .about__container p {
        font-size: 1rem;
    }
    
    .about__title strong {
        font-size: 2rem;
        font-weight: bold;
    }
}

@media screen and (min-width: 1728px){
    .about {
        background-color: var(--cor-sobre);
        display: flex;
        align-items: center;
    }
    
    .about__container {
        display: flex;
        flex-direction: column;
        margin: 4% 15%;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 20px;
    }
    
    
    .about__title {
        font-family: 'Raleway';
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 25px;
    }
    
    .about__paragraph {
        font-family: 'Raleway', sans-serif;
        margin-bottom: 20px;
        flex-direction: column;
        max-width: 745px;
    }
    
    .about__container p {
        font-size: 1rem;
    }
    
    .about__title strong {
        font-size: 2rem;
        font-weight: bold;
    }
}